<% if @place.errors.any?%>
	<%=@place.errors.full_messages.join(", ")%>
<%end%>

<br/>
<li>
<b>Name:</b>	<%= @place.name %></br>
<b>Address:</b>	<%= @place.address %></br>
<b>Phone Number:</b>	<%= @place.phone_number %></br>
<b>Mail:</b>	<%= @place.contact_mail %></br>
<b>Established at:</b> <%= @place.established_at %></br>
<b>Description: </b> <%= @place.description %></br>
<b> Category ID: </b> <%=@place.category.id%></br>
<b>Category: </b> <%= @place.category.name%></br>
<b>User: </b><%= @place.user.email %> | <%= @place.user.id %><br />
<b>Average Rating: </b><%= @place.average_rating %><br />
<b>Tags: </b><%= @place.tags.collect {|x| x.name }.join(", ")
 %><br />
</li>

 

<br/>
<hr/>
<br/>

<%= render 'votes/form' %>

<% @place.voters.each do |u| %>
  <%= u.email %><br />
<% end %>

<%= render 'comments/comment_list' %>
<%= render 'comments/form' %>


<br/><br/>
<%= link_to "Back to places list", places_path %>
<% if current_user.present? and current_user.id == @place.user_id %>
<br/>
<%= link_to "Edit place", edit_place_path %>
<br/>
<%= link_to "Delete place", place_path(@place), method: :delete, data:{confirm: "Bu yer silinsin mi?"}%>
<% end %>